.suppliers-content {
  padding: 20px;
}

.suppliers-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.suppliers-table-container {
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.add-supplier-btn {
  background: none;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
}

.add-supplier-btn:hover {
  background-color: var(--primary-blue);
  color: var(--white);
}